package main

templ home(websites []Website) {
	<html>
		@header()
		<body id="container">
			@nav()
			<main class="flex justify-center mt-6">
				<div class="w-full max-w-2xl bg-white shadow rounded-lg p-6">
				@websiteList(websites)
				</div>
			</main>
		</body>
		@newWebsite()
	</html>
}

