package main
templ home() {
  <html>
  <body>
  <div class="flex justify-center">
  <div class="bg-blue-500 text-white p-4">
    <h1 class="text-4xl font-medium p-5">WOAH</h1>
  </div>
  </div>
  </body>
  </html>
}

