package main
templ home() {
  <html>
  @header()
  <body>
  <div class="flex justify-center">
  <div class="bg-blue-500 text-white p-4">
    <h1 class="text-4xl font-medium p-5">WOAH</h1>
    <form hx-post="/start-site" hx-swap="outerHTML">
      <label for="websiteUrl">Website Url:</label>
      <input type="text" id="websiteUrl" name="websiteUrl" required/>
      <input type="submit" value="Submit"/>
  </form>
  </div>
  </div>
  </body>
  </html>
}

