package main

import (
	"strconv"
)
templ process(count LinkCountResult, websiteId string){

     <div hx-get={`/process/{websiteId}`} hx-swap="outerHTML">
        (<span>{strconv.Itoa(count.LinksHavePages)}</span> out of <span> {strconv.Itoa(count.TotalLinks)}</span>)
    </div>
}