package main 

templ task(siteUrl string) {
    <html lang="en">
   @header()
    <body>
    <div hx-get={siteUrl} hx-trigger="load">
    {siteUrl}
    <img  alt="Result loading..." class="htmx-indicator" width="150" src="/img/bars.svg"/>
</div>
      <!--<div hx-ext="sse" sse-connect="/progress" sse-swap="message">
        Contents of this box will be updated in real time
        with every SSE message received from the chatroom.
    </div>-->
    </body>
    </html>
}