package main 

templ task(siteUrl string) {
	<html lang="en">
		@header("task")
		<body>
			<div hx-get={ siteUrl } hx-trigger="load">
				{ siteUrl }
				<span alt="Result loading..." class="htmx-indicator" width="150">Loading</span>
			</div>
		</body>
	</html>
}

